{% extends "base/base.html" %}
{% block head %}
    {{ block.super }}
    <title>Groups List</title>
    <style type="text/css">
        body { background-color: #159ca3; }
        p { margin: 0; }
        a { color: blue; }
    </style>
{% endblock %}
{% block content %}
    <h1>Groups List</h1>
    <ul>
        {% for group in group_list %}
        <li style="margin: 0 0 10px 0;">
            <p>{{ group.id|safe }}. {{ group.title|safe }} {{ group.num_of_students|safe }}</p>
            <span>Main student: {{ group.main_student|safe }}</span>
            <span>Main teacher: {{ group.main_teacher|safe }}</span>
            <div>
                <a href="{% url 'edit-group' group.id %}">Edit</a>
                <a href="{% url 'delete-group' group.id %}">Delete</a>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
