{% extends "base/base.html" %}
{% block head %}
    {{ block.super }}
    <title>Django Project</title>
{% endblock %}
{% block content %}
    <table class="table">
        <thead class="table-light">
            <tr>
                <th>#</th>
                <th>Students</th>
                <th>Teachers</th>
                <th>Groups</th>
                <th>E-mail</th>
                <th>Currency</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td><a href="/students/">students</a></td>
                <td><a href="/teachers/">teachers</a></td>
                <td><a href="/groups/">groups</a></td>
                <td><a href="/email-sending-form/">Send Email</a></td>
                <td><a href="/currency/">currency</a></td>
            </tr>
            <tr>
                <th>2</th>
                <td>/students/?first_name=val&last_name=val&age=val</td>
                <td>/teachers/?first_name=val&last_name=val&age=val</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>3</th>
                <td><a href="/create-student/">create student</a></td>
                <td><a href="/create-teacher/">create teacher</a></td>
                <td><a href="/create-group/">create group</a></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>4</th>
                <td><a href="/generate-student/"> generate student</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>5</th>
                <td>/generate-students/?count=val</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>6</th>
                <td>/edit-student/student_id/</td>
                <td>/edit-teacher/teacher_id/</td>
                <td>/edit-group/group_id/</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>7</th>
                <td>/delete-student/student_id/</td>
                <td>/delete-teacher/teacher_id/</td>
                <td>/delete-group/group_id/</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>8</th>
                <td><a href="/generate-students-form/">generate-students-form</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
