{% extends "base.html" %}
{% block head %}
    {{ block.super }}
    <title>Exchange List Rates</title>
{% endblock %}
{% block content %}
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Currency</th>
          <th scope="col">Created at</th>
          <th scope="col">Source</th>
          <th scope="col">Buy price</th>
          <th scope="col">Sell price</th>
        </tr>
      </thead>
      <tbody>
        {% for rate in currency_list %}
          <tr>
            <th scope="row">{{ rate.id|safe }}</th>
            <td>{{ rate.currency|safe }}</td>
            <td>{{ rate.created_at|date:"d.m.Y H:i:s" }}</td>
            <td>{{ rate.source|safe }}</td>
            <td>{{ rate.buy_price|safe }}</td>
            <td>{{ rate.sell_price|safe }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
